paper.1.table
paper.2.table
paper.3.table
paper.4.table
paper.aux
paper.bbl
paper.blg
paper.log
paper.synctex.gz
plots/rrt-it-eps-converted-to.pdf
plots/rrt-n-eps-converted-to.pdf
plots/rrt-t-eps-converted-to.pdf
texput.log
